.btn
    @extend .title, .title--small
    border $main-border
    color $blue
    display block
    padding 5px 15px 15px 20px
    text-decoration none

    > svg
        fill $blue
        margin-left 10px
        position relative
        top 8px

    &:hover
        box-shadow inset 10px 0 0 $orange
        color $black-primary !important

        > svg
            fill $orange
