*
    box-sizing border-box

.container
    margin 0 auto
    max-width 1236px
    width 100%

.quarter
    width 25%

.third
    width 33.333333%

.half
    width 50%

.three-quarters
    width 75%

.full
    width 100%

.quarter, .half, .three-quarters, .third
    display inline-block

    @media (max-width: $sm) {
      width 100%
    }

.f-left
    float left

.align-center
    text-align center

.align-top
    vertical-align top
