$gray-primary = #303132
$gray-secondary = #5e6774
$gray-tertiary = #d4d2d2
$gray-quaternary = #adadad
$gradient-gray = #f4f4f4

$black-primary = #1f2125
$white = #ffffff

$blue = #353f4f

$orange = #ff6600

$main-border = 1px solid $gray-tertiary

$xs = 576px
$sm = 768px
$md = 992px
$lg = 1200px
