doctype html
html(lang="pt-br")
  head
    meta(name="viewport" content="initial-scale=1, maximum-scale=1")
    meta(charset="utf-8")
    title=pageTitle
  body
    article.container
      div.quarter.f-left#visited
        h2.title.title--big.title--gray
          | Você visitou:
      div.three-quarters
        h2.title.title--big.title--gray
          | e talvez se interesse por:
        div.carousel
          div.strip#recommended
